#header{
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  box-shadow: 0px 0px 5px 1px rgba(27, 27, 27, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo-box{
  width: 15%;
  
}
#logo{
  height: 50px;
}
#category-box{
  width: 70%;
}
#category-ham-box{
  width: 15%;
}

